*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


body{
    font-family: 'Raleway', sans-serif;
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;

}

   


h3 + p{
    color:#774c4c;
    text-align: center;
}

.contenedor{
    padding: 80px 0;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header{
    height: 700px;
    width: 100%;
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.menu-header{
    cursor: pointer;
    position: fixed;
    top:0px;
    right: 20px;
    height: 50px;
    width: 50px;
    background: #fff;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    z-index: 20;
    transform: scale(1);
    transition: transform .2s;
    animation: escalar .5s 3 alternate;
    
                   
   }

    .menu-header img{
        width: 90%;
        height: 90%;
    }

    .enlaces-header{
    width: 100%;
    height: 100%;
    display: flex;
   z-index: 10;
    left: 0;
    align-items: initial;
    justify-content: space-around; 
    font-size: 20px;
 
     }

     .enlaces-header a{
        text-decoration: none;
        color: #fff;
    }
    .enlaces-header a:hover{
        text-decoration: underline;
    }

    .menu-header :active{
        transform: scale(0.9);
    }

    @keyframes escalar{
        0%{
            transform: scale(0.1);
        }
    }


    .quienes-somos{
        margin-top: 50px;
    
    }
    .quienes-somos h3{
        color: #ffffff;
        text-decoration: none;
        line-height: 1.5em;
       
          }
          .quienes-somos h2{
            color: #ffffff;
            text-decoration: none;
            line-height: 1.5em;
            text-align: center;
           
              }

          .quienes-somos p{
              color: #fff;
              text-align: center;
              line-height: 1.5em;
              padding: 2px;
          }
          .quienes-somos p{
            color: #fff;
            text-align: center;
            line-height: 1.5em;
            padding: 10px;
        }
        .galeria{
            display: flex;
            margin-top: 40px;
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            justify-content: space-around;
            

        }
        .galeria-contenedor h3{
           margin-top: 50px;
            color:white;
        }
    
        .galeria-contenedor  p{
            margin-top: 50px;
             color:white;
            
         }
        .galeria-img{
            width: 32%;
            overflow: hidden;
            position: relative;
            margin-bottom: 30px;
            box-shadow: 0px 0px 5px rgba (0, 0, 0, 75);
        }
    
        .galeria-img img{
            object-fit: cover;
            width: 100%;
            height: 250px;
            vertical-align: top;
            transform: scale(1);
            transition: transform .6s;
        }
    
        .galeria-img img:hover{
            transform: scale(1.3);
        }
    
        .extra-galeria{
            position: absolute;
            top: 0;
            background: rgba(200, 93, 50, .75);
            width: 100%;
            height: 100%;
            transform: translate(100%, -100%);
            transition: transform .6s;
        }
    
        .galeria-img:hover .extra-galeria{
            transform: translate(0);
        }
    
        .extra-galeria p{
            color: white;
            width: 95%;
            margin: 10px auto;
            font-weight: 100;
            text-align: justify;
        }

        .extra-galeria  li{
            color: white;
            width: 95%;
            margin: 10px auto;
            font-weight: 50;
            text-align: justify;
        }

        /*footer*/
        footer{
            padding: 100px 0;
            background: #41295a;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          width: 100%;
          display: flex;
          justify-content: space-around;
          margin:auto;
          text-align: center;
  
        }
        
        footer h3{
            color:#fff;
            font-size: 30px;
            margin-bottom: 30px;
          text-align: center;
      
        }
        footer h2{
            color:#fff;
            font-size: 30px;
            margin-bottom: 30px;
          text-align: center;
        }
     
        footer p{
            margin-bottom: 10px;
            font-style: italic;
            color:#fff;
            text-align: center;
           
        }
        
        footer i{
            font-size:20px;  
            color: #fff;
            padding: 14px;
            background:#0b486b ;
            border-radius: 100%;
            cursor: pointer;
            text-align: center;
            }
          

            /*formulario*/
            .contacto{
                border: 1px solid #CED5D7;
                border-radius: 6px;
                padding: 45px 45px 20px;
                margin-top: 50px;
              /*  background-color: white;*/
                background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
               
            }
            .contacto label{
                display: block; /* esto es para que el label se sobreponga a la caja de texto */
                font-weight: bold;
                color: #fff;
                
            }
            .contacto div{
                margin-bottom: 15px; /* esto los separara un poco */
            }

            .contacto input[type='text'], .contacto textarea{
                padding: 7px 6px;
                width: 294px; /* una longitud definida */
                border: 1px solid #CED5D7;
                resize: none; /* esta propiedad es para que el textarea no sea redimensionable */
                box-shadow:0 0 0 3px #EEF5F7;
                margin: 5px 0;
            }
            .contacto input[type='text']:focus, .contacto textarea:focus{
                outline: none; /* reset especifico para Chrome/Safari */
                box-shadow:0 0 0 3px #dde9ec;
            }

            .contacto input[type='submit']{
                border: 1px solid #CED5D7;
                box-shadow:0 0 0 3px #EEF5F7;
                padding: 8px 16px;
                border-radius: 20px;
                font-weight: bold;
                text-shadow: 1px 1px 0px white;
             
                background: #e4f1f6; /* fallback para navegadores que no soporten degradados */
                background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
                background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
            
            }
            .contacto input[type='submit']:hover{
                background: #edfcff;
                background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
                background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
            }
            .contacto input[type='submit']:active{
                background: #cfe6ef;
                background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
                background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
            }

            form h3{
                color: white;
            }
            /*tablas*/
            .tabla{
                background: var(--back);
                width: 29%;
                text-align: center;
                border-radius: 4px;
                padding: 40px 0;
                box-shadow: var(--box-shadow);
                color:var(--color);
                color: #fff;
        }
        
        .precios-tabla-contenedor{
            display: flex;
            margin-top: 40px;
                width: 100%;
                height: auto;
                flex-wrap: wrap;
                justify-content: space-around;
             
        }
        
        .tabla h5{
            margin-bottom: 20px;
            font-size: 20px;
            text-align: center;
            background-color:#0b486b;
        }
        
        .tabla.price{
            font-weight: bold;
            margin-bottom: 20px;
            color:var(--color-precio);
        }
        
        .tabla ul li{
            color:var(--color);
            padding: 20px;
            margin-bottom: 20px;
            display: block;
        
        }
        
        .tabla>a{
            display:inline-block ;
            text-decoration: none;
            margin-top: 20px;
            color:var(--color-boton);
            background: var(--back);
            width: 140px;
        }
        
        .tabla:hover{
            cursor: pointer;
            --backtabla:#f2f2f2;
            color:#b63b03;
        }

        .precios h3{
            color:white;
            margin: 50px;
            
        }
           
    

        /*para ver la pagina en el celular*/
     

        @media screen and (max-width:800px){
            header{
                height: auto;
            }

            @media screen and (max-width:800px){
                footer{
                    height: auto;
                }

                @media screen and (max-width:800px){
                    body{
                        height: auto;
                    }